Cython==0.23.4
Django==1.9.4
celery==3.1.22
django-redis-cache==1.6.5
djangorestframework==3.3.2
gevent==1.1.0
gunicorn==19.4.5
matplotlib==1.5.1
numpy==1.10.4
psycopg2==2.6.1
pymongo==3.2.1
redis==2.10.5
scipy==0.17.0
